[2016-04-22 21:59] drewolson opened #1 "Correctly paginate nested joins"
Pagination should work correctly for queries with deeply nested joins.

[2016-06-10 22:19] supernullset commented on #1
I would be interested in helping with this! This same issue bit me about a month ago, so its relevant to my interests. Any thoughts on how I should/would start here?

[2016-06-11 13:39] drewolson commented on #1
@supernullset thanks! I pushed two new tests to [this branch](https://github.com/drewolson/scrivener_ecto/tree/nested_joins). There's a failing test that we want to make pass, but also a passing test that orders on a join table. That second test needs to _keep passing_ when we do the nested joins work.

Hope this helps!

[2016-06-11 14:56] supernullset commented on #1
@drewolson thanks for the tip! Ill take a look at it over the weekend

[2016-06-17 23:28] supernullset commented on #1
@drewolson It took me a few extra days to look at this, but I have been poking at the failing test, as well as reading what seems to be its [root](https://github.com/drewolson/scrivener/pull/30). I am a little confused by the intent behind the failing test.

To recap, we have a setup which constructs 3 `Post`s 3 `Authors` and 9 `Comments`. Then a query is created (I omit the call to paginate)

[co

[2016-06-18 12:45] drewolson commented on #1
@supernullset Thanks for such a thorough investigation. I think the general idea of the PR was that, if you query `Post`, you should never get back more entries than there are in the table.

That said, I'm on your side on this one. I'd prefer to not fix this "problem" but rather rely on sub-queries in Ecto 2.0 to help. Regardless of what "solution" was devised, we'd be making subjective decisions.

[2016-06-18 17:13] supernullset commented on #1
@drewolson sure thing!

I'm with you on not changing ecto's behavior. Yay for closing issues!

[2016-06-19 13:34] #1 closed, assigned to nobody

[2016-06-19 14:12] feixionglee opened #2 "** (Mix) No package with name scrivener_ecto (from: mix.exs) in registry"
got a error.  **(Mix) No package with name scrivener_ecto (from: mix.exs) in registry**

[code]

then run  `mix deps.get`

[2016-06-19 16:04] drewolson commented on #2
@feixionglee The package has not been released on hex yet (I'm waiting for the release of Ecto 2.0). For now, please use a github dependency.

[2016-06-19 16:04] #2 closed, assigned to nobody

[2016-07-31 04:28] fire opened #4 "By definition a primary key can be composite"
[code]

Errors for me. Does this code support composite primary keys?

I'm trying to paginate a join table.

[2016-07-31 04:45] fire commented on #4
It only supports tables with defined primary keys.

[2016-07-31 04:49] fire commented on #4
It works, the error message when the primary key is not defined is weird.

[2016-07-31 04:49] #4 closed, assigned to nobody

[2016-08-17 23:48] stevegraham opened #6 "Does not work with OTP releases"
Scrivener Ecto doesn't work with OTP releases because it doesn't include Scrivener in its applications of included_applications properties. I fixed it in my project by adding Scrivener to my included_applications.

[2016-08-18 17:43] drewolson commented on #6
Thanks for opening this issue. It seems that I could include scrivener in `applications` rather than `included_applications`, correct? The entries in `included_applications` can only be used a single time across an application, which seems overly restrictive.

[2016-08-18 17:50] #6 closed, assigned to nobody

[2016-08-24 04:02] feixionglee opened #7 "module Scrivener.Config is not available in production env"
(UndefinedFunctionError) function Scrivener.Config.new/3 is undefined (module Scrivener.Config is not available)

Scrivener.Config.new(MyApp.Repo, [page_size: 2], %{})
(myapp) lib/myapp/repo.ex:5: Myapp.Repo.paginate/2

my app name is elixirer,

lib/elixirer/repo.ex

[code]

mix.exs

[code]

[2016-08-24 14:01] drewolson commented on #7
I'm assuming you resolved this?

[2016-08-24 16:31] feixionglee commented on #7
nope， I try to resolve it, but I need try more hard. do you have any tips? I do not know if it's deployment bug

[2016-08-24 18:46] drewolson commented on #7
What is the version of `scrivener_ecto` in your lockfile? Version `1.0.1` introduced a fix around production / releases.

[2016-08-25 01:27] feixionglee commented on #7
it's exactly 1.0.1

"scrivener": {:hex, :scrivener, "2.0.0", "38e59a1c37e989c40a22c019da245a86b257182aee45a074292c9038fab39678", [:mix], []},
  "scrivener_ecto": {:hex, :scrivener_ecto, "1.0.1", "013ff84d3bf1a29ecc5cead9808c2433c4cc5531333249cb0186454d06e817c3", [:mix], [{:ecto, "~> 2.0", [hex: :ecto, optional: false]}, {:postgrex, "~> 0.11.2", [hex: :postgrex, optional: true]}, {:scrivener, "~> 2

[2016-08-25 13:02] drewolson commented on #7
@bitwalker Sorry to mention you out of the blue, but any ideas on this one? I recently added[1] `scrivener` to `applications` to attempt to fix this problem. Any further ideas? (Feel free to ignore me 😄)

[1] - https://github.com/drewolson/scrivener_ecto/commit/388d72327fb0588484666a93c69a09aed37aa5db

[2016-08-25 15:02] bitwalker commented on #7
@feixionglee is `scrivener_ecto` in your applications list? Can you gist your full `mix.exs` file?

[2016-08-25 15:05] feixionglee commented on #7
my mix.exs

[code]

I will try to add scrivener_ecto into the list, wait me seconds

[2016-08-25 15:44] feixionglee commented on #7
It works, thanks you guys very much. 👍

[2016-08-25 15:44] #7 closed, assigned to nobody

[2016-08-25 15:49] feixionglee commented on #7
we should put this tips in README

[2016-08-26 00:52] drewolson commented on #7
@feixionglee adding in https://github.com/drewolson/scrivener_ecto/commit/3331aea543fb8282b89c314cedcf4166ba67f05a

[2016-09-27 10:51] nlap opened #9 "total_entries performance"
Any reason the DISTINCT needs to be a part of the total_entries count? The primary key will be unique.

`select([m], count(field(m, ^primary_key), :distinct))`

It really kills performance versus a count() without distinct

[2016-09-28 10:48] nlap commented on #9
Now that I think about it the distinct can be needed with joins. But it does slow things down a lot on single-table queries (adds seconds for me).

I've forked this and implemented my own total_entries/2 for my project. I had to use postgres-specific count estimates to get good performance (~1ms).

For cases like mine where the count is the bottleneck it would be nice to have more control here. If

[2016-09-28 12:19] drewolson commented on #9
@nlap yes, you're correct that joins would be a problem. At this point, I'd suggest creating a new elixir project that implements the `Scrivener.Paginator` protocol. When you like what you have (and can use it to solve your problems), let me know here. We can either pull it in to `scrivener_ecto` directly or make in another option that we link to from the [Scrivener](https://github.com/drewolson/s

[2016-10-09 03:40] joshuataylor commented on #9
@nlap Great, but the only problem with this approach is that the pagination breaks:

Master:

[code]

Your branch:

[code]

This is something we also want to look into, as selecting from a single table (ie a materialized view) takes longer than expected.

BTW, for others wanting to test this branch, you can either update your mix.exs for referencing another git repo or test by using a patch file (

[2016-10-09 03:54] nlap commented on #9
Thanks for the input @joshuataylor.

I'm using my branch directly in my own project for now, so it's not set up to work outside of a Postgres environment (but it is way faster if you are). It would need some work before I would do a PR here, along the lines of @drewolson's suggested approach.

The pagination is working in my environment. You're running postgres, and this query works directly?

`SE

[2016-10-09 03:58] joshuataylor commented on #9
@nlap
Yes, using postgres.

Yes, the query works directly which is weird - I thought perhaps this was happening because it was a materialized view.

This isn't working in testing - so maybe we need to do something postgres related, maybe `vacuum analyze` or something?

[2016-10-09 21:16] nlap commented on #9
Yeah, try ANALYZE on your view. I just made a test view that was returning 0 from pg_class until I analyzed it.

Otherwise, does the output from the Ecto query look like this?

`{:ok,
 %Postgrex.Result{columns: ["c"], command: :select, connection_id: 75281,
  num_rows: 1, rows: [[978262]]}}`

I'm doing a kind of hacky `q.rows |> hd |> hd` that might need to be changed

[2016-10-31 16:06] qgadrian opened #10 "Scrivener.Paginater not implemented"
Hi!

I facing the following issue trying to implement pagination with this library:

`Protocol.UndefinedError`

`protocol Scrivener.Paginater not implemented for [%TestApp.Stuff{__meta__: #Ecto.Schema.Metadata<:loaded, "stuffs">(...)`

My Repo file:
[code]

And I'm trying to use it the controller (using phoenix) as this:
[code]

I tough maybe I had to use the `scrivener` dependency or so, but seem

[2016-10-31 16:21] qgadrian commented on #10
Nevermind, I was using Repo.all instead of creating a query.

The correct code is:

[code]

I'll close this issue.

[2016-10-31 16:21] #10 closed, assigned to nobody

[2016-11-05 02:38] pejrich opened #11 "Issues when using DISTINCT"
I have an autocomplete route. Here's the model code.
[code]

My design allows rooms with the same name, obviously only want distinct names for autocomplete, so I change the query to:
[code]

This causes an error.
[code]

The error only occurs when trying to paginate. If I grab all the entries with `Repo.all`, there are no issues.

[2016-11-08 13:20] drewolson commented on #11
I'll take a look this weekend. Can you provide a failing test?

[2016-11-15 09:41] mkaszubowski opened #12 "Ecto.NoResultsError on Repo.paginate"
I'm using `Repo.paginate(query)`.  Because the lib uses `Repo.one!`, it throws `(Ecto.NoResultsError) expected at least one result but got none in query:` if there are no results.
I think it would be helpful if this would return either empty page or `{:error, :something}` tuple. `Repo.paginate!` could be added with the current behaviour.

Please let me know what you think about it, I can submit a

[2016-11-15 13:10] drewolson commented on #12
This is a good idea, though it'll involved major releases for both Scrivener and Scrivener.Ecto. Let me take a crack at it in the next week or two.

[2016-11-22 13:31] drewolson commented on #12
Fixed in `1.0.3`.

[2016-11-24 23:26] ardhitama opened #14 "Table with no Primary Key failed paginater"
I have a table with no PK, caused
[code]

Offending code
[code]

Already marked the schema with `@primary_key false`

[2016-11-28 13:38] #12 closed, assigned to nobody

[2016-11-28 13:39] drewolson commented on #14
@ardhitama I'm not sure how to deal with both joinable data and a table without primary keys. I'll look into it. Can you provide a failing test?

[2016-12-01 08:18] felipegasparini commented on #14
Hi @drewolson,  I'm having the same issue.

You can test it by adding a "@primary_key false" in any schema definition that you already have. Ex:

[code]

I have one question: Why can't you use a count(*) instead of count(distinct primary_key)?

Something like this: https://github.com/felipegasparini/scrivener_ecto/commit/7ec1548de24e13774ddbf07cc82620d485f0fb6c

[2016-12-01 08:35] felipegasparini commented on #14
Btw, a good thing about not using the schema at all is that now the scrivener will also work with schemaless queries in Ecto:

[code]

[2017-01-03 18:50] acrolink opened #16 "Would you please explain in the documentation how to render the pagination links (next, prev. page 1. 2 etc..)"

[2017-01-03 20:04] jaimeiniesta opened #17 "Trouble paginating grouped query"
Hello, I've found that pagination fails with a query that includes a `group_by`, it looks like the pagination is calculated without doing this grouping, so the number of pages is greater than expected (and the extra pages are therefore empty).

For example, this query without the group_by will result in 9 pages in my project:

[code]

But if I group the issues, then although only 1 page of results

[2017-01-03 20:05] jaimeiniesta commented on #17
This is using  phoenix 1.2.0, scrivener_ecto 1.1, scrivener_html 1.4

[2017-01-04 15:06] drewolson commented on #16
Link rendering is not handled by scrivener nor scrivener_ecto. [scrivener_html](https://github.com/mgwidmann/scrivener_html) is a library that helps with this (I am not the author).

[2017-01-04 15:06] #16 closed, assigned to nobody

[2017-01-07 15:35] drewolson commented on #17
I'm not totally sure what the solution should be here, because right now we have to strip out `group_by` clauses to do counting for total entries and pagination. If you've got ideas, please let me know.

[2017-01-07 15:38] drewolson commented on #14
[This gist](https://gist.github.com/drewolson/0378375ef119858eca1e8564b17984f9) shows the test that fails if we move back to counting via `*`.

Specifically, we can no longer correctly support `group_by` clauses demonstrated by [this test](https://github.com/drewolson/scrivener_ecto/blob/46243f10193cf2cbd160f11a97b68db22a6fbba2/test/scrivener/paginator/ecto/query_test.exs#L135-L145).

[2017-01-07 15:39] drewolson commented on #14
I'd be open to other ways of solve this problem and removing the dependency on the schema, but we need to figure out what to do regarding the `group_by` queries.

[2017-01-10 15:55] jaimeiniesta commented on #17
Thank you, will try to find the way to fix this. In the meantime I'm using scrivener_list to paginate the results instead.

[2017-01-10 15:57] drewolson commented on #17
@jaimeiniesta thanks! Take a look at https://github.com/drewolson/scrivener_ecto/issues/14 as well, it may be quasi-related.

[2017-01-16 15:26] drewolson commented on #17
I believe 62681ff73954846370ee41047d0a349c530b3d8b will fix this.

[2017-01-16 15:26] #17 closed, assigned to nobody

[2017-01-16 15:26] drewolson commented on #14
62681ff73954846370ee41047d0a349c530b3d8b should fix this.

[2017-01-16 15:26] #14 closed, assigned to nobody

[2017-01-16 15:26] drewolson commented on #11
62681ff73954846370ee41047d0a349c530b3d8b should fix this.

[2017-01-16 15:26] #11 closed, assigned to nobody

[2017-01-16 15:26] drewolson commented on #9
62681ff73954846370ee41047d0a349c530b3d8b should fix this.

[2017-01-16 15:26] #9 closed, assigned to nobody

[2017-01-16 20:56] nicholasjhenry opened #19 "Subquery cannot preload associations"
@drewolson just a heads up this commit broke queries with `preload`: c6d1c45f3b4adb9014cbbb88ed4becd2bf6ad0e8

Subqueries cannot contain preloads, so you would still need to remove it, if you wanted to use the subquery syntax. So in the example from the README:

[code]

Since we have `preload(:friends)` in the query (which is used in a subquery for pagination) this error will be raised `(Ecto.Quer

[2017-01-16 21:43] jaimeiniesta commented on #17
Thank you but I'm afraid this introduced new issues. This query worked OK on scrivener_ecto 1.1.0 but fails in 1.1.2:

[code]

The error message says:

`** (Ecto.QueryError) subquery can only select sources (t) or fields (t.field), got: count(&1.id()) in query:`

And if I removed this `count(w.id)` from the `select`, then:

`** (Ecto.QueryError) subquery can only select sources (t) or fields (t.fi

[2017-01-16 22:02] drewolson commented on #19
Thanks, I'm pushing a fix for this as we speak. Will update this issue.

[2017-01-16 22:06] drewolson commented on #17
I'm pushing a fix for this now, will be released soon. Thanks for the report!

[2017-01-16 22:11] drewolson commented on #17
This is now fixed in `1.1.3` and released.

[2017-01-16 22:11] drewolson commented on #19
This is now fixed in `1.1.3` and released.

[2017-01-16 22:11] #19 closed, assigned to nobody

[2017-01-27 16:33] izelnakri opened #20 "Add this warning to the README:"
http://use-the-index-luke.com/no-offset

[2017-01-27 16:37] drewolson commented on #20
I'd prefer to have a dialogue about actually fixing the problem (if there's a good approach).

[2017-01-27 16:38] drewolson commented on #20
For example, we could inspect the query, looking for the existence of an `order_by` clause. If one exists, we could use a smarter approach. I'm all ears.

[2017-01-29 14:50] #20 closed, assigned to nobody

[2017-02-10 16:12] merqlove opened #21 "Mongo doesn't support subqueries"
Subj

[2017-02-10 16:14] drewolson commented on #21
Ecto 2.0 (required by this library) does not support Mongo.

[2017-02-10 16:14] #21 closed, assigned to nobody

[2017-02-10 16:18] merqlove commented on #21
Maybe  better is to make total pages counter customizable? For example through repo or config.

[2017-02-10 16:19] merqlove commented on #21
It's support will be enabled soon.

[2017-02-10 16:21] drewolson commented on #21
At that time it may be better to create a new scrivener library to support Mongo specifically.

[2017-02-10 16:32] merqlove commented on #21
👍 Maybe, ok I will fix 'kerosene' now, seems that they don't use subqueries. 1 line fix :)

[2017-04-13 17:36] vhf opened #25 "Avoid OFFSET when possible"
(Following up on #20 )

Detecting if there's an `order_by` and using a combination of `WHERE pk > :last_id` and `LIMIT :page_size` seems like a good approach.

What do you think?

[2017-04-13 17:38] drewolson commented on #25
@vhf this only works if the schema is using an integer-based, ascending primary id. It wouldn't work for applications using, say, UUIDs as identifiers. I think cursor-based pagination is a great approach, but I think it should live in a separate, specific repo that implements the `Scrivener.Paginator` protocol with this new technique.

[2017-04-13 17:38] #25 closed, assigned to nobody

[2017-04-18 18:28] mlaythe opened #26 "Duplicate entries being returned"
I'm fetching from our own API passing in page 1, and page_size 10, and I'll get the results but in this case lets say the 10th entry is item1. When I fetch again passing in page 2, and page_size 10, the 1st entry for this call is also item1. Any thoughts on how to fix this? Thanks!

[2017-04-18 18:47] #26 closed, assigned to nobody

[2017-05-05 22:11] soudy opened #27 "Max page size"
Being able to set a max `page_size` can be useful, especially when dealing with complex queries where requesting a lot of data could impact server performance.

[2017-05-06 18:20] drewolson commented on #27
@soudy this is [already supported](https://github.com/drewolson/scrivener/blob/master/test/scrivener/config_test.exs#L56).

[2017-05-06 18:20] #27 closed, assigned to nobody

[2017-05-11 12:59] FebilAravindan opened #28 "how can i create pagination for my associated model"
i have to add category associated products in same page. any idea how to achieve this?
[code]
iam getting this error
`protocol Scrivener.Paginater not implemented`

[2017-05-11 13:15] #28 closed, assigned to nobody

[2017-05-14 13:30] joshuataylor commented on #25
@drewolson - Do you think this should be a separate module, or included within scrivener_ecto?

I'm interested in helping with this, and would be happy to contribute back code for this.

[2017-05-14 14:49] drewolson commented on #25
Because these changes will effectively be backwards incompatible, I'd like
them to be in a separate module. I will happily link to it from the
scrivener readme if it turns out well.

On Sun, May 14, 2017 at 8:31 AM Josh Taylor <notifications@github.com>
wrote:

[2017-05-17 06:42] kawamurakazushi opened #29 "Is it possible to get all the elements using the same sets of parameters?"

[2017-05-17 12:05] drewolson commented on #29
I'm not sure that I completely understand your question, but if you're saying you just want a result set of all the pages at once with your given criteria, you should just use `Repo.all` instead of `paginate`.

[2017-05-17 12:05] #29 closed, assigned to nobody

[2017-05-18 09:11] stephenmoloney opened #30 "Elixir 1.2 not compatible with ecto 2.1+"
#### Issue:
Ecto 2.1.x - Incompatible with elixir 1.2

https://github.com/elixir-ecto/ecto/blob/v2.1/CHANGELOG.md

I'm setup a build matrix on travis.yml and I'm getting the following error when using
[code]

`warning: the dependency :ecto requires Elixir "~> 1.3" but you are running on v1.2.6`

https://travis-ci.org/stephenmoloney/scrivener_list/builds/233549003

Potential solutions:

1. Add a wa

[2017-05-18 13:29] drewolson commented on #30
Thanks @stephenmoloney. I'll take a look at this in a few days. I'll probably just updated the required elixir version to 1.3, unless there are a lot of folks against this idea.

[2017-05-19 23:32] egeersoz opened #31 "pagination should respect the order_by clause across all pages"
As things stand, the `order_by` clause seems to be run on each individual page.

This is highly problematic. For example, if you try to implement a reddit-style post ordering whereby posts are ordered by vote count, the first result on the second page will potentially have a higher vote count than the last result on the first page.

Example dataset:

[code]

Example query with `page_size: 3`:

[co

[2017-05-22 21:40] #31 closed, assigned to nobody

[2017-05-26 16:00] drewolson commented on #30
Fixed in https://github.com/drewolson/scrivener_ecto/commit/63bcc107c5d3970416f70dc0bc6b93f0921c9f78

Thanks for the report!

[2017-05-26 16:00] #30 closed, assigned to nobody

[2017-06-02 21:20] newterminator opened #33 "pagination in case of many to many"
I have **post** `many_to_many :tags, MyApp.Tag, join_through: MyApp.PostTag`

and **tag** `many_to_many :posts, MyApp.Post, join_through: MyApp.PostTag`

I am trying to list and paginate all the posts that have been tagged with a particular tag.
In the posts controller I have:
[code]
In the tag_index.html I have:
[code]
The above causes an `(ArgumentError) argument error` for the line `<%= for pos

[2017-06-04 16:08] drewolson commented on #33
@newterminator the `page.entries` field returns a list of entries. You are attempting to treat it as a struct by accessing the `.posts` field, which does not exist on a list.

[2017-06-04 16:08] #33 closed, assigned to nobody

[2017-06-07 16:10] newterminator commented on #33
@drewolson Thanks for getting back, your comment helped in realizing and resolving the issue. Cheers.

[2017-06-08 17:56] ghost opened #34 "Dialyzer complains of unknown functions"
Dialyzer is raising the following complaints:

[code]

[2017-06-09 13:34] drewolson commented on #34
Thanks for the report. I'm not much of a dialyzer expert myself and I'm mostly using the current `@spec`s for documentation purposes. I'd love a hand in fixing these issues.

[2017-06-15 12:46] jeremyowensboggs commented on #34
When running `mix dialyzer` on this project, I do not see those errors.  I also don't see those methods, so in essence, I would agree with the errors presented are indeed real errors, and not a mistake.

[2017-07-11 17:10] mtmorra opened #35 "Total entries errors for queries with group by clause"
[code]

This test fails with the following errors:

[code]

The select statement is important in group by clauses, so excluding it causes these issues.  I realize that using Repo.all with the query that is passed in may not be the most performant option, but at least results would be accurate and it would work for all queries.

[2017-07-12 15:11] drewolson commented on #35
I think this can be solved with a subquery. I'll take a look.

[2017-07-18 00:22] AaronVasquez opened #36 "Upgrade to use newer ecto"
Can we upgrade this to use ecto ~>2.1.0

[2017-07-18 18:58] drewolson commented on #36
This should work fine with ecto 2.1 considering we're specifying the dependency with `~> 2.0`. Are you seeing issues?

[2017-07-18 20:17] AaronVasquez commented on #36
Looked into it more. Another dependency (ex_admin) is having problems with 2.1, thought it was scrivener. Nvm.

[2017-07-18 20:17] #36 closed, assigned to nobody

[2017-08-02 19:14] DanielBlanco opened #37 "Page number should not be greater than `total_pages`."
Page number should not be greater than `total_pages`.

Maybe change this:
[code]
to
[code]
**NOTE:** code not tested.

[2017-08-08 17:11] sergey-chechaev opened #38 "protocol Scrivener.Paginater not implemented"
[code]
[code]

[2017-08-09 17:04] drewolson commented on #38
Is your error message cut off? What type is the protocol not implemented for? I'll need more information to help with this.

[2017-08-14 13:37] #38 closed, assigned to nobody

[2017-08-17 12:27] #35 closed, assigned to nobody

[2017-09-01 11:23] brandonparsons opened #41 "Does Scrivener Support Ecto Prefixes?"
Good morning,

Was just giving Scrivener a shot, and it's not immediately obvious to me how to get it to use Ecto's `prefix` option in the queries it builds.

Am I missing something or is this not supported?

Thanks!

[2017-09-01 13:27] drewolson commented on #41
Scrivener itself supports an `options` key that allows an arbitrary keyword value. Perhaps we could add support for using `prefix` inside `options` from Scrivener.Ecto?

[2017-09-01 16:58] brandonparsons commented on #41
I looked into this a bit more, and you may run into trouble using prefixes as you utilize a subquery to get at the count. I'm too new to all this to know if there's a workaround or not :)

[2017-10-30 13:11] edipox commented on #41
Hi @brandonparsons
I was looking at the existing issues here.
Now `Scrivener.Ecto` supports a `total_entries` option, so you can implement your own code to get the total entries and avoid using the subquery `count`.
For example:
[code]
I'm not sure if that would be useful for your use case. You can find more info here: https://github.com/drewolson/scrivener_ecto/pull/42

[2017-11-08 14:51] drewolson commented on #41
@brandonparsons's mentioned work around should be sufficient for now. You can also pass `total_entries: ...` directly to the `paginate` call.

I'm going to close this issue for now.

[2017-11-20 14:53] #37 closed, assigned to nobody

[2017-12-01 09:08] tschmidleithner commented on #41
Hello,

I had the same problem as @brandonparsons and therefore I forked your repo to implement optional prefix support which you can find [here](https://github.com/tschmidleithner/scrivener_ecto). `prefix` is a string that can be added to the options in config, in the same way as with `total_entries`.

I am rather new to Elixir and Phoenix at all, therefore I guess that my code should be improved

[2017-12-01 15:25] drewolson commented on #41
@tschmidleithner I like this approach and would accept a PR that was cleaned up a bit. I'll reopen this issue for now.

[2017-12-30 21:55] astjohn opened #44 "Cautionary note about dropping preloads - distinct required?"
Thanks for the great library. I was recently building a query and noticed a small quirk.

[code]

Notice that by excluding the preloads, the count jumps. This is likely because the joins are kept, but the removal of preloads results in duplicate rows during the count query.

Adding distinct removes the issue.

[code]

Should a small note be made in the readme about it?

[2017-12-30 23:05] drewolson commented on #44
Thanks for the detailed explanation. I agree on adding a note in the readme. Would you like to take a pass at it in a PR? If so I'd be happy to merge it.

[2018-01-02 15:18] astjohn commented on #44
Gladly. However, our specific use case might be a bit more involved and is more related to proper pagination when joins are involved so that repeated rows are avoided while maintaining the true count.

This seemed to address something similar:
https://github.com/drewolson/scrivener/pull/30

Did it ever make it into the code base here?

The SQL we need to execute is something like the following:

[

[2018-01-07 00:20] girishso commented on #28
@febilva I am running into exact same issue. How you solved it??

[2018-01-08 22:08] astjohn commented on #44
I'll [attempt to implement the solution proposed](https://github.com/Sitata/scrivener_ecto/tree/fix_joins_pagination)  from that old pull request unless a better approach is recommended.

[2018-02-01 16:01] InteNs opened #47 "bug in pagination using oracle database"
Hi
trying to paginate my records and i'm getting some weird behavior (see below)

deps:
[code]

I'm wondering what's going wrong?

## first page, page size of 1
here ecto returns the first record (like expected) and scrivener returns an empty list
### ecto:
[code]
results in:
[code]
### Scrivener:
[code]
results in:
[code]

## 3rd page, page size of 1
here scrivener returns too many records. (alth

[2018-02-12 18:08] padde opened #48 "Pass options to `Repo.all`?"
Hi, I'd like to increase the database timeout for a specific query that needs to be paginated, which can be achieved in Ecto by passing `timeout: value` to `Repo.all`. Is there a way to pass ecto repo options to scrivener_ecto? Looking at the source code it seems not. I could look into implementing this feature but it would be nice if you could point me in the right direction first. For example, I

[2018-05-03 12:39] abitdodgy opened #52 "no match error when using Repo.preload()"
I'm using scrivner_ecto 1.3, Phoenix 1.3, and Ecto 2.1.

I can't get `Repo.preload()` to work. Here's an example:

[code]

`Bodyguard.scope(account)` filters down to this:

[code]

I can get this to work by using an expression to preload the associations. For example:

[code]

Using `Repo.preload()` causes the following error:

[code]

Any ideas?

[2018-05-08 20:02] shahryarjb opened #53 "why does scrivener need 2 queries ?"
why does scrivener need 2 queries ? when I load pagination , my code shows me 2 query for loading it, why ?

![screen shot 2018-05-08 at 11 55 08 pm](https://user-images.githubusercontent.com/8413604/39780012-3ad45840-5320-11e8-9843-15cdef203f8e.png)

my code :

[code]

elixir : v1.6.4  and `{:scrivener_ecto, "~> 1.3"}`

please help me .

[2018-05-08 20:32] #53 closed, assigned to nobody

[2018-05-14 04:52] isAlmogK opened #54 "Controller.init/1 is undefined"
Not sure I'm doing this right, as I'm new to Elixir but I have the following

[code]

and when I try to implement scrivener like so

[code]

I'm getting the following error

`function MagnifyWeb.MagnetController.init/1 is undefined (module MagnifyWeb.MagnetController is not available)`

[2018-05-14 07:29] isAlmogK opened #55 "Repo.paginate/2 is undefined"
Getting the following error

function Repo.paginate/2 is undefined (module Repo is not available)

and my code

[code]

[2018-05-14 08:28] isAlmogK commented on #55
Got it working closing

[2018-05-14 08:28] #55 closed, assigned to nobody

[2018-05-14 08:28] isAlmogK commented on #54
Got it working closing

[2018-05-14 08:28] #54 closed, assigned to nobody

[2018-05-26 03:03] sreyansjain opened #56 "Subquery problem with Postgres and Ecto"
`def list_monitored_karmas(username, params) do
    query =
      from fe in "karma_entries",
      join: karma in "karmas", on: fe.karma_id == karma.id,
      join: kem in "karma_entry_monitors", on: fe.id == kem.karma_entry_id,
      join: u in "users", on: u.id == kem.user_id and u.username == ^username,
      where: fe.status != "Done",
      select: %{
        username: fe.username,
        a

[2018-05-26 03:30] sreyansjain commented on #56
I think that scrivener_ecto works only with schemas, or am I missing something?

[2018-07-14 22:27] gayanhewa opened #57 "Mysql support"
Does Scrivener support MySQL since MySQL has subquery support?

[2018-07-25 21:37] pedromvieira opened #58 "Umbrella app paginate not working"
On a "normal app" works an ecto query then paginate.

Ex:

`Normal.People.Lists.list_filter("por", true, "demo") |> Normal.Repo.paginate(%{page_size: 10})`

With the same config on an umbrella app, it fails. (Both Repo and Scrievener/Ecto on the same app)

Ex:

`UmbrellaApp.People.Lists.list_filter("por", true, "demo") |> UmbrellaApp.Repo.paginate(%{page_size: 10})`

Output:

[code]

[2018-07-25 21:41] pedromvieira commented on #58
I forgot to add {:scrivener_list, ">= 1.0.1"} on umbrella app mix.

[2018-07-25 21:41] #58 closed, assigned to nobody

[2018-08-31 22:09] nilsivanson opened #59 "Ecto 3.0"
Hello,

Ecto 3.0 seems to be coming along. However if I try to compile scrivener_ecto against the master branch of ecto we have an offending line causing compilation error. I am not sure if this is an issue with ecto or with scrivener_ecto. However I figured so far that someone else ought to run into this problem eventually.

https://github.com/drewolson/scrivener_ecto/blob/master/lib/scrivener/pa

[2018-09-13 13:36] tarzan commented on #59
Hey! You just need to change the syntax around in order to make it build with Ecto 3.0. See my PR #60

[2018-09-20 21:40] nilsivanson commented on #59
Great!

[2018-09-20 21:40] #59 closed, assigned to nobody

[2018-10-02 09:20] valehelle opened #61 "Paginate join incorrect"
Hi everyone,
I have 2 models Post and Comments.
What I wanted to do is fetch all post and order by the latest comment.
I created this query
    from(
      p in Post,
      join: c in assoc(p, :comments),
      where: p.group_id == ^group_id,
      order_by: [desc: c.inserted_at],
      preload: [comments: c],
    )

When I use Repo.all everything works fine.
However when I use Repo.paginate, the

[2018-10-09 17:04] #61 closed, assigned to nobody

[2018-10-09 17:04] #57 closed, assigned to nobody

[2018-10-09 17:04] #56 closed, assigned to nobody

[2018-10-16 14:16] geofflane opened #62 "Scrivener Ecto Doesn't Compile with Ecto 3.0-rc"
[code]

This syntax looks like it probably conflicts with the new named binding syntax in Ecto 3.

[2018-10-16 14:56] drewolson commented on #62
I believe this is fixed in https://github.com/drewolson/scrivener_ecto/pull/60. I'm waiting to merge this until 3.0 is released.

[2018-10-16 17:30] geofflane commented on #62
Sorry, I missed that PR

[2018-10-22 14:50] AndrewDryga opened #63 "Mention pagination type in README"
Hello @drewolson, first I want to thank you for your work on this package.

I've taken some dig into the source code and looks like you use limit/offset based pagination, I think it's worth mentioning this in README as it would result in very bad performance in some use cases (eg. going to very deep page).

Additionally, it would be awesome to see there how many queries are performed instead of ju

[2018-10-26 20:57] drewolson commented on #62
Fixed on master

[2018-10-26 20:57] #62 closed, assigned to nobody

[2018-11-08 13:40] #63 closed, assigned to nobody

[2018-12-12 09:55] dokicro opened #66 "Wrong count number when using joins and preload"
Hi,

I have two models: Page that has many PageLanguages.

Query preload looks like:

[code]

The problem is if I have for example 10 posts with the languages I will get `total_entries: 20` but result should be 10. I think we need some DISTINCT option to solve this problem, or I am doing something wrong?

[2019-01-02 14:29] nicksanders opened #68 "Page number greater than total_pages should be allowed"
The pull request below breaks a number of clients we have that increment the page until the entries array is empty.

https://github.com/drewolson/scrivener_ecto/pull/43/files

Would you be open to a pull request making this configurable?

[2019-01-04 16:41] speeddragon commented on #68
Same here. Some endpoints just sent the list of items, other send the total pages, current page, etc. I will convert now all to return total pages, current page, etc.

[2019-01-24 15:39] BenGiese22 commented on #52
I'm also getting an error similar to this when using `Repo.preload()`.

I'm using scrivener_ecto 2.0, phoenix 1.4, and Ecto 3.0.

Currently trying to paginate all `Projects` in our `project_controller.ex` file and trying to just utilize the general limit set in `repo.ex`.

Current index function:
[code]

[code]

Also having this issue steam from the `Repo.preload()` function call.

Note: `(MatchEr

[2019-01-24 17:25] BenGiese22 commented on #52
A team member of mine had gotten Scrivener to work for us. He stated: "Scrivener works if you pass an unexecuted query into it, we were passing full result sets into it".

[2019-02-02 15:17] #52 closed, assigned to nobody

[2019-02-04 17:42] astjohn commented on #66
This might be related to #44 and my pull request #45, which may have been prematurely closed...
Perhaps we're all missing something on how to handle joins properly?

[2019-02-11 19:52] marinakr opened #69 "2.0.0 Wrong pagination results postgres"
I had updated phoenix ecto, so scrivener_ecto also was updated to 2.0.0
mix.exs
`{:scrivener_ecto, "~> 2.0.0"},`

code call pagination
[code]
I added` IO.inspect` just to ensure page is `2`
Output:
`%{page: 2}`

Result:
`{:ok, %Scrivener.Page{entries: [%Core.Replica.Division{ .... }], page_number: 1, page_size: 10, total_entries: 1, total_pages: 1}}`

So the problem is I receive **page_number: 1**

[2019-02-11 20:31] marinakr commented on #69
The problem scrivener_ecto returns last existing page instead of empty page

[2019-02-12 07:10] ajose01 opened #70 "Error when trying to paginate with intersect or intersect_all"
I have the following query:
[code]
When I try to paginate, I get the following error:
`ERROR 42601 (syntax_error) each INTERSECT query must have the same number of columns`
The produced query:
[code]
If I use a JOIN and subquery vs. intersect pagination works, however I take a large performance hit.

Any clues on how I can get this to work? Much appreciated!

[2019-03-01 16:37] drewolson commented on #69
I'm not interested in allowing pagination beyond the end of the collection. See #71 for a proposed solution.

[2019-03-01 16:37] #69 closed, assigned to nobody

[2019-03-01 16:37] drewolson commented on #68
I'm not interested in allowing pagination beyond the end of the collection. See #71 for a proposed solution.

[2019-03-01 16:37] #68 closed, assigned to nobody

[2019-03-01 16:40] drewolson commented on #66
The SQL query itself returns 20 entries. This just happens to manifest as 10 entities because of how ecto handles associations. Scrivener operates on the actual number of results returned from the query (via `subquery`), not the number of "top level entities" returned.

[2019-03-01 16:40] #66 closed, assigned to nobody

[2019-03-01 16:43] drewolson commented on #48
@padde sorry for the (very) slow reply. [Scrivener.Config](https://github.com/drewolson/scrivener/blob/a2751b00d4d86c9e394934e6a2013b82fe122efc/lib/scrivener/config.ex#L10-L12) does support passing arbitrary options via the `:options` keyword. You'd then need to update `Scrivener.Ecto` to take advantage of these new options.

[2019-03-01 16:43] #47 closed, assigned to nobody

[2019-03-01 16:43] #34 closed, assigned to nobody

[2019-03-01 16:50] #44 closed, assigned to nobody

[2019-03-01 16:50] #41 closed, assigned to nobody

[2019-03-01 16:51] #70 closed, assigned to nobody

[2019-03-01 17:03] #48 closed, assigned to nobody

[2019-03-05 14:42] tarzan opened #72 "`distinct on` requires a subquery for counting"
This is probably an oversight in #64, but queries that have an DISTINCT ON clause (postgresql only) can not be counted on without a `group_by`. They need to be counted through a subquery.

I'll try the write a test for this...

[2019-03-05 15:10] tarzan commented on #72
got a fix in #73

Let me know what you think!

[2019-03-06 06:09] drewolson commented on #72
Merged #73, thanks!

[2019-03-06 06:09] #72 closed, assigned to nobody

[2019-05-02 18:53] strzibny opened #74 "Scrivener automatically adjust the page numbers yielding wrong results"
If let's say the last page number is 99, then page 100 will simply return the page 99. That's IMHO really wrong. I pass the page number from API and the page 100 need to return 0 results.

[code]
Is there a way how to turn this off? Would you accept a patch that cancel this behaviour and point me in the direction where should this be changed in code?

Thank you.

[2019-05-02 18:55] drewolson commented on #74
See the `allow_overflow_page_number` option [here](https://github.com/drewolson/scrivener_ecto/blob/e3efdca0b663c1cacd24120b54255727c634e6cc/lib/scrivener/paginater/ecto/query.ex#L20).

[2019-05-02 18:55] #74 closed, assigned to nobody

[2019-05-02 19:00] strzibny commented on #74
Perfect thanks!

[2019-05-18 15:42] nkezhaya opened #75 "Documentation for pagination with nested joins"
I just spent the past few minutes reading through the various issues/PRs on this: #1, #44, #45, etc., and I'm still unsure of the recommended approach for paginating a query with nested join(s).

In SQL, the approach is clear:

[code]

I can't find any documentation showing how this is to be done with Scrivener. I'm happy to submit a PR if necessary, but what's the recommended approach for this? S

[2019-06-28 19:54] kbaird opened #77 "`:uuid` being passed into Ecto as a type, rather than `Ecto.UUID`"
Pagination appears to pass a `:uuid` type into Ecto for an eventual `cast` attempt as per:
[code]

See details at https://github.com/elixir-ecto/ecto/pull/3045

I am continuing to investigate with the hopes of providing a PR.

[2019-06-28 22:42] kbaird commented on #77
Appears to be internal to Ecto.

[2019-06-28 22:42] #77 closed, assigned to nobody

[2019-09-24 23:34] astjohn commented on #75
@whitepaperclip - As far as we can tell, the original issue was never fixed by @drewolson.

[Here we have created a failing test once more as an example](https://github.com/Sitata/scrivener_ecto/commit/c6fc780b9521c9deccfe35a73d9594837ffdaf02)

In our test, we create 6 Posts, each with 5 comments.

[code]

In this example, `page.total_entries` ends up being 30 instead of 6. This is directly relate

[2019-09-25 00:12] nkezhaya commented on #75
@astjohn Thanks! Let me know if you need any help on this, because I definitely have bandwidth for the next couple weeks.

Right now I'm basically calling `Repo.preload` in a ton of functions because of the issue with `total_entries`, and the performance isn't ideal.

[2019-09-25 00:30] astjohn commented on #75
@whitepaperclip - I have put back the original fix from #44, #45 so feel free to give it a spin as a temporary fix until we can have some discussion on perhaps a better approach.

https://github.com/drewolson/scrivener_ecto/compare/master...Sitata:fix_joins_pagination_2

[2019-10-02 21:49] dawner opened #79 "Using absolute distinct with a join gets incorrect total_entries"
When using a more complex query with absolute distinct: `distinct: true` _and_ a join with multiple rows, the `total_entries` result returned is incorrect. It appears to be the total number of joined rows, but I would expect instead that it should be the total number of distinct rows.

Otherwise we can see a `total_entries` number different to the actual of results found in the query. For example

[2019-10-11 14:24] Spadavecchia opened #81 "Cannot work with multiple databases"
The library doesn't pass the options to the repo call. When working with multiple databases, it is necessary to pass the `prefix` options when calling `Repo.all`, `Repo.one`, etc.

[2019-10-26 19:09] hkrutzer commented on #81
You can [set the prefix on the query](https://hexdocs.pm/ecto/Ecto.Query.html#module-query-prefix)

[2019-10-27 01:41] Spadavecchia commented on #81
Can I? Where? Calls to Repo.all, Repo.one, etc are managed internally by the library.

[2019-10-27 19:37] hkrutzer commented on #81
You can `Map.put(query, :prefix, "prefix_name")` or
[code]
if you know it at compile-time.

[2019-10-27 20:34] Spadavecchia commented on #81
It works flawless. Thank you.

[2019-10-27 20:34] #81 closed, assigned to nobody

[2019-12-18 13:34] shahryarjb opened #83 "scrivener dosent load some records"
Hello, when I use `Repo.all(query)` to load  49 records I have the record concerned and I have no problem all records are displayed , but when I use `scrivener` to load 20 records on each page like this:

[code]

some data is not displayed, but they exist in my database, I use `UUID`

I use psql 11 and `{:scrivener_ecto, "~> 2.2"}`, elixir 1.9 , ` {:phoenix_ecto, "~> 4.0"}`

Help me please
my migr

[2019-12-18 13:53] #83 closed, assigned to nobody

[2019-12-18 14:52] shahryarjb commented on #83
why did you close this issue without any comment or help ? @drewolson

[2019-12-20 16:01] shahryarjb commented on #83
this post can help you
https://elixirforum.com/t/scrivener-lib-doesnt-load-some-records/27665

[2020-01-29 09:09] haslinger opened #84 "Dependencies outdated"
There is a dependency issue with the latest version of ecto:

[code]

[2020-01-29 17:57] drewolson commented on #84
Fix in release `2.3.0`.

[2020-01-29 17:57] #84 closed, assigned to nobody

[2020-05-20 13:38] #79 closed, assigned to nobody

[2020-05-20 14:01] #75 closed, assigned to nobody

[2020-05-29 06:12] Vigneshwaran22 opened #87 "Pagination for all"
I have a list of number for pagination like(5, 10, 25, 50, 100). how see all records, so i added "All" option in drop down. In ecto if i used limit: nil i can get all records. any possibility to do with this.

[2020-05-29 12:24] #87 closed, assigned to nobody

[2020-05-29 15:36] pinksynth commented on #48
@drewolson Would you be open to a pull request that enables this `Repo.all` pass-through? I would also like to have it due to the `timeout: value` option (we use that a lot), and think it wouldn't be too challenging to implement. Thanks!

[2020-05-29 17:28] drewolson commented on #48
Sure, a PR would be welcome.

On Fri, May 29, 2020 at 10:36 AM Sammy Taylor <notifications@github.com>
wrote:

[2020-06-03 05:05] astorre88 opened #88 "Misspelling"
Is there a misspelling?)

https://github.com/drewolson/scrivener_ecto/blob/master/lib/scrivener/paginater/ecto/query.ex#L64

[2020-06-15 12:49] dsignr commented on #31
sorry to wake up a 2 year old issue. This is still an issue as of 2020 and I wonder why this was closed. Has this been resolved (genuinely curious to see if it's an issue on my end)?

[2020-07-10 15:04] franckstifler opened #89 "Support for schema prefixes for multitenancy"
Currently there is no way to paginate on a different Schema dynamically.
Something we can do in Ecto, by passing the prefix option to each Repo query.

[2020-08-23 22:54] #89 closed, assigned to nobody

[2020-08-23 23:07] #88 closed, assigned to nobody

[2020-11-11 09:54] odarriba opened #93 "Schema prefix not fetched from query"
We were using Scrivener.Ecto version 2.2.0 until today, and passing schema prefix on the query was working like:

[code]

But with the update to the latest version (2.6.0 as of today), the library has stopped respecting the prefix on the query, which is one of the methods used by Ecto to specify the DB schema of a query.

This is the expected behaviour if we look at #91 , but is this correct? Shou

[2020-11-22 19:02] gkdp commented on #93
Please do. The new update broke my application. 😞

[2020-11-23 15:48] drewolson commented on #93
Apologies, this should now be fixed in `2.7.0`.

[2020-11-23 15:48] #93 closed, assigned to nobody

[2020-11-24 07:40] odarriba commented on #93
Thanks @drewolson! <3

[2021-02-19 16:45] ak-14 commented on #48
@pinksynth @drewolson any update on this? This feature would be very useful when working with custom default_options and prepare_query callbacks.

[2021-03-23 15:16] sahilpaudel-pe opened #95 "Pagination is show older rows again"
Below is my implementation I have used order_by condition
The data on the first page is fine but when I paginate to other pages I get 1-2 rows every time from previous pages.

[code]

[code]

[2021-04-03 05:54] masoudgs opened #96 "Zero page size ignored and default is returning"
I'm trying to get records of a table with `page_size: 0` config but it's ignored in the result and the default page size value used. Why `0` would be ignored in this case?

Repo Config:

[code]

Query:

[code]

[code]

[2021-04-27 09:57] CostantiniMatteo opened #97 "Negative page numbers return first page"
Hi, I've noticed that `allow_overflow_page_number` options works only for pages greater that `total_pages` while querying with a negative page or page 0 still yield the first page. If `allow_overflow_page_number` is set to `true` I would expect the same behaviour both for pages greater than `total_pages` and lowert than `1`.

What do you think? Is there any way this can be supported?

Thanks!

[2021-08-03 12:15] csuriano23 commented on #1
Is this issue still not addressed? I am experiencing a wrong behaviour on result size when paginating a joined ecto model.

In particular when executing a one-to-many join like:
[code]

If ask for page 2 with size 3, the query is resolved as:
[code]

and if the rowset contains three rows pointing to different children with the same parent id, I will have a result with length 1, even if this isn't

[2021-09-23 10:34] la-jose commented on #95
encountering the same issue

[2021-12-02 18:39] iguberman opened #99 "UNION queries fail"
`Repo.paginate(query, pagination_params)`  fails with the following error:
[code]
This happens to a large variety of UNION queries.   I'll provide some examples if necessary but I don't think it matters what specific query, it's just UNION queries in general.  Probably need similar `aggregate` treatment as`group_bys`

I'm submitting this issue while attempting a fix on my end in the meanwhile.

[2022-07-07 10:38] jtomaszewski commented on #95
It might that be that when you ask for a page larger than the last one, it'll give you the last one.

So for example if there's 3 pages, and you ask for 100th page, it'll give you results from the 3rd page.

... which I agree, is surprising to me. Maybe it should return no results in such a case?

[2022-07-07 11:11] sahilpaudel-pe commented on #95
yes, it should return no data in such case.

[2022-08-10 18:14] ricardoebbers commented on #95
I had this problem also. The solution is a bit hidden, but possible with the current implementation.

When you `use` the `Scrivener` on your `Repo`, just pass the `allow_overflow_page_number: true` option, like this:
[code]

The next time you query a page greater than the total pages, it will return an empty list for `entries`:
[code]

You can also pass that config when calling `Scrivener.paginate